<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Password</title>
    <link rel="stylesheet" href="css/changePassword.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm container-fluid bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="javascript:void(0)">Turing Hut</a>

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="problems">Problems</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contests">Contests</a>
            </li>
        </ul>
    </nav>
    <div id="container">
        <div id="header">
            <center>
                <h1>Change Password</h1>
            </center>
        </div>
        <div id="form">
            <input type="password" placeholder="Old Password" id="passOne" />
            <input type="password" placeholder="New Password" id="passTwo" />
            <input type="password" placeholder="Confirm Password" id="passThree" />
        </div>
        <div id="footer" class="incorrect">
            <center>
                <h2 id="footerText">They don't match</h2>
            </center>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="js/changePassword.js"></script>
</body>

</html>