<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/question.css">
    <link rel="stylesheet" href="css/simditor/simditor.css">
</head>

<body>

    <section class="container">
        <form id="questionForm" method="POST" action="/createProblem" target="hidden-iframe" onsubmit="return false"
            enctype="multipart/form-data">
            <% if(method == "create") {%>
            <p>Problem code: <input type="text" name="problemCode" placeholder="VNRON01" id="problemCode"></input></p>
            <% } %>
            <div class="row">
                <div class="col-6">
                    <select name="difficultyLevel" id="difficultyLevel">
                        <option value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                    </select>
                </div>
                <div class="col-6">
                    <select name="visiblility" id="visiblility">
                        <option value="true">Visible</option>
                        <option value="false">Not Visible</option>
                    </select>
                </div>
            </div>
            <textarea id="editor" name="questionText"></textarea>
            <div id="testCaseHolder">
                <div>
                    <h5>Test cases:</h5>
                    <button id="createTestcase">Create testcase</button>
                </div>
            </div>
        </form>
        <center>
            <button id="submit">Submit</input>
        </center>

        <iframe name="hidden-iframe" style="display: none;"></iframe>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/wysiwyg/module.js"></script>
    <script src="js/wysiwyg/uploader.js"></script>
    <script src="js/wysiwyg/hotkeys.js"></script>
    <script src="js/wysiwyg/simditor.js"></script>
    <script src="js/question.js"></script>
</body>

</html>