<html lang="en">
<head>

<title>The Man in Blue &gt; Experiments &gt; widgEditor</title>

<meta http-equiv="content-type" content="ie=edge" >
<meta name="author" content="The Man in Blue">
<meta name="robots" content="all">
<meta name="MSSmartTagsPreventParsing" content="true">
<meta name="description" content="">
<meta name="keywords" content="">

    <link rel="stylesheet" href="css/info.css" type="text/css">
    <link rel="stylesheet" href="css/main.css">
    <link rel ="stylesheet" href="css/widgEditor.css">

<script type="text/javascript" src="js/widgEditor.js"></script>


</head>



<body>

<!-- END experimentInfo -->
	<div id="content">
		<h2>
			Enter Question
		</h2>
		
		
	
		<form action="submit.php" onsubmit="get_question()">
			<fieldset>
				<label for="noise">
					
				</label>
				<textarea id="noise" name="noise" class="widgEditor nothing">&lt;p&gt;widgEditor &lt;strong&gt;automatically&lt;/strong&gt; integrates the content that was in the textarea!&lt;/p&gt;</textarea>
			</fieldset>
			<fieldset class="submit">
				<input type="submit" value="save" />
			</fieldset>
		</form>
	</div>
<!-- END content -->
</body>




</html>
