@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
font-family: 'Ubuntu', sans-serif;
}

body {
    margin-top: 120px;
}

.navbar {
    background: #04695C !important;
}

.nav-link {
    color: white !important;
}


button,input[type=button] {
    background-color: #04695C;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 #04695C66;
    box-shadow: 0 5px 20px 0 #04695C66;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


section {
    margin: 20px;
}

div.container {
    margin-top: 40px;
}

.table {
    text-align: center;
}
